@model List<KopkeHome_ModelLayer.DataModel.Categories>
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="topCard-sec">
 <h3 class="dashHeading">Categories</h3>
   </div>

<div class="tableWrapper categoryTable"> <button type="button" class="btn btn-success AddCategoryAdmin p-2">Add Category</button>
                    <div class="table-responsive">
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Category Name</th>
                                    
                                   <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int autoincrement = 0;
                                }
                                @foreach (var item in Model)
                                {
                                     <tr>
                                    <td>@Interlocked.Increment(ref autoincrement) </td>
                                    <td>@item.Name</td>
                                 
                                  
                                <td class="">
                                    <div class="actionBtn">
                                        
                                    <button type="button" data-id="@item.Id" class="btn  btn-primary EditCategoryAdmin" >Edit</button>
                                    <button type="button" data-id="@item.Id" onclick="DeleteCategory(@item.Id)" class="btn  btn-danger DeleteCategoryAdmin">Delete</button>
                                    </div>
                                      
                                </td>
                               
                                </tr>
                                    
                                }
                               

                            </tbody>
                           @* <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>*@
                        </table>
                    </div>
                </div>


  
  <div class="modal fade" id="CategoryViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Update Category</h5>
        <button type="button" class="close btn btn-secondary ModalCloseFAQ" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <form name="UpdateCategoryForm" method="post" onsubmit="return UpdateCategory(this);">
      <div class="modal-body">
        
   
          <input type="hidden" name="Id" id="CategoryId" />
  <div class="form-group">
    <label for="exampleFormControlInput1">Category Name</label>
    <input maxlength="50" type="text" name="Name" id="CategoryNameAdmin" class="form-control">
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary main-login-page ModalCloseFAQ" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="AddCategoryAdminViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Category</h5>
        <button type="button" class="close btn btn-secondary ModalCloseFAQ" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <form name="AddCategoryForm" method="post" onsubmit="return AddCategoryAdmin(this);">
      <div class="modal-body">
        
   
          <input type="hidden" name="Id" id="CategoryId" />
  <div class="form-group">
    <label for="exampleFormControlInput1">Category Name</label>
    <input maxlength="50" type="text" name="Name"  class="form-control">
  </div>
  
  

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary main-login-page ModalCloseFAQ" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>