@model KopkeHome_ModelLayer.ViewModels.BusinessProfileViewModel;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Contractor Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
@if(ViewBag.data != null)
{

} *@

<div class="registration-container black-bg">



    <div class="registration-container-branding d-flex justify-content-between align-items-center">
        <div class="kopkehome-logo">
            <a href="@Url.Action("SignIn","user")">
                <img src="~/images/Kopke-brand-logo.png" width="140" />
            </a>
        </div>
        @await Html.PartialAsync("SelectCulture")
        <div class="rgstr-box-heading text-center">
            <h2 class="orange-clr">@Localizer["Business Profile Registration"]</h2>
            <p class="text-white m-0">@Localizer["Please fill the form below to create Business profile."]</p>
        </div>
        <div class="">
            @{
                if (Model.LoggedInUser != null)
                {
                    <a class="nav-link text-dark dropdown-toggle d-flex align-items-center" href="#" id="navbardrop" data-toggle="dropdown">
                        @if (!string.IsNullOrEmpty(Model.LoggedInUser.ProfilePicture))
                        {
                            <img alt="logo" style="margin-right:11px; class="IconBorder" src="~/Uploads/@Model.LoggedInUser.ProfilePicture" width="38" />

                            <span class="text-white">@Model.LoggedInUser.FirstName  @Model.LoggedInUser.LastName </span>
                        }
                        else
                        {
                            <img alt="logo" style="margin-right:11px;" src="~/images/DefaultProfile.png" class="IconBorder" width="38" />

                            <span class="text-white">@Model.LoggedInUser.FirstName @Model.LoggedInUser.LastName</span>
                        }

                    </a>
                }


            }

        </div>

    </div>



    <div class="registration-container-form">
        <div class="tab-content">
            <div id="Contractor" class="contractor-business-prof-form">
                <div class="rgstr-main-heading">
                    <h3 class="green-clr">@Localizer["Business Profile Registration"]</h3>
                </div>

                <form name="ContractorBusinessProfile" asp-action="BusinessProfileSave" enctype="multipart/form-data" method="post" onsubmit="return ContractorBusinessProfileValidate(this);" asp-controller="BusinessProfile">
                    @* <input asp-for="LoggedInUser" type="hidden"/>*@

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-4  ">
                            <div class="form-group rgstr-input-form-box">
                                <label for="BusinessDescription">@Localizer["Business Specialization"]</label>
                                <select id="contractorSelect" asp-for="BusinessDescription" style="max-height: 200px; overflow-y: auto;" class="form-select form-control w-100">
                                    <option value="">-- Select Specialization --</option>
                                    <option value="Architects">@Localizer["Architects"]</option>
                                    <option value="Asbestos Testing/Removal Companies">@Localizer["Asbestos Testing/Removal Companies"]</option>
                                    <option value="Asphalt Driveways">@Localizer["Asphalt Driveways"]</option>
                                    <option value="Basement Egress Windows">@Localizer["Basement Egress Windows"]</option>
                                    <option value="Basement Remodeling">@Localizer["Basement Remodeling"]</option>
                                    <option value="Basement Waterproofing">@Localizer["Basement Waterproofing"]</option>
                                    <option value="Brick and Block - Masonry Companies">@Localizer["Brick and Block - Masonry Companies"]</option>
                                    <option value="Cabinet - Installer">@Localizer["Cabinet - Installer"]</option>
                                    <option value="Cabinet Refacing Company">@Localizer["Cabinet Refacing Company"]</option>
                                    <option value="Carpenters - Rough">@Localizer["Carpenters - Rough"]</option>
                                    <option value="Ceramic/Porcelain Tile - Installer">@Localizer["Ceramic/Porcelain Tile - Installer"]</option>
                                    <option value="Chimney - New/Repairs/Caps">@Localizer["Chimney - New/Repairs/Caps"]</option>
                                    <option value="Closet Organization Companies">@Localizer["Closet Organization Companies"]</option>
                                    <option value="Concrete - Driveway/Sidewalk">@Localizer["Concrete - Driveway/Sidewalk"]</option>
                                    <option value="Concrete - Stamped/Stained/Sealed">@Localizer["Concrete - Stamped/Stained/Sealed"]</option>
                                    <option value="Countertops - Corian/Solid Surface">@Localizer["Countertops - Corian/Solid Surface"]</option>
                                    <option value="Countertops - Granite/Quartz">@Localizer["Countertops - Granite/Quartz"]</option>
                                    <option value="Doors - Interior/Exterior">@Localizer["Doors - Interior/Exterior"]</option>
                                    <option value="Drywall Companies">@Localizer["Drywall Companies"]</option>
                                    <option value="Dumpster Rental Companies">@Localizer["Dumpster Rental Companies"]</option>
                                    <option value="Electricians">@Localizer["Electricians"]</option>
                                    <option value="Environmental Companies">@Localizer["Environmental Companies"]</option>
                                    <option value="Excavation Companies">@Localizer["Excavation Companies"]</option>
                                    <option value="Fence Companies">@Localizer["Fence Companies"]</option>
                                    <option value="Finish Carpenter">@Localizer["Finish Carpenter"]</option>
                                    <option value="Fireplace Companies">@Localizer["Fireplace Companies"]</option>
                                    <option value="Fireplace Installer">@Localizer["Fireplace Installer"]</option>
                                    <option value="Flooring Companies">@Localizer["Flooring Companies"]</option>
                                    <option value="Flooring Installer - Vinyl">@Localizer["Flooring Installer - Vinyl"]</option>
                                    <option value="Flooring Installer – Carpet">@Localizer["Flooring Installer – Carpet"]</option>
                                    <option value="Flooring Installer and refinisher – Hard Wood">@Localizer["Flooring Installer and refinisher – Hard Wood"]</option>
                                    <option value="Foundation Companies">@Localizer["Foundation Companies"]</option>
                                    <option value="Furnace and Air Conditioning Companies">@Localizer["Furnace and Air Conditioning Companies"]</option>
                                    <option value="Garage Door Companies">@Localizer["Garage Door Companies"]</option>
                                    <option value="Garage Door Installers">@Localizer["Garage Door Installers"]</option>
                                    <option value="General Contractors">@Localizer["General Contractors"]</option>
                                    <option value="General Labor Services">@Localizer["General Labor Services"]</option>
                                    <option value="Gravel Driveway Companies">@Localizer["Gravel Driveway Companies"]</option>
                                    <option value="Gutter Companies">@Localizer["Gutter Companies"]</option>
                                    <option value="Handyman Services">@Localizer["Handyman Services"]</option>
                                    <option value="HVAC Companies">@Localizer["HVAC Companies"]</option>
                                    <option value="Insulation Companies">@Localizer["Insulation Companies"]</option>
                                    <option value="Insulation installer – Blown-in">@Localizer["Insulation installer – Blown-in"]</option>
                                    <option value="Insulation Installer - Rolled">@Localizer["Insulation Installer - Rolled"]</option>
                                    <option value="Insulation Installer - Spray Foam">@Localizer["Insulation Installer - Spray Foam"]</option>
                                    <option value="Interior Design">@Localizer["Interior Design"]</option>
                                    <option value="Kitchen Remodeling Companies">@Localizer["Kitchen Remodeling Companies"]</option>
                                    <option value="Kitchen/Bath Designers">@Localizer["Kitchen/Bath Designers"]</option>
                                    <option value="Mold Testing/Remediation Companies">@Localizer["Mold Testing/Remediation Companies"]</option>
                                    <option value="Painting - Exterior">@Localizer["Painting - Exterior"]</option>
                                    <option value="Painting - Interior">@Localizer["Painting - Interior"]</option>
                                    <option value="Patio Doors">@Localizer["Patio Doors"]</option>
                                    <option value="Plumbing Companies">@Localizer["Plumbing Companies"]</option>
                                    <option value="Roofing Companies">@Localizer["Roofing Companies"]</option>
                                    <option value="Roofing Installer – Clay Tile">@Localizer["Roofing Installer – Clay Tile"]</option>
                                    <option value="Roofing Installer – Concrete Tile">@Localizer["Roofing Installer – Concrete Tile"]</option>
                                    <option value="Roofing Installer – Metal">@Localizer["Roofing Installer – Metal"]</option>
                                    <option value="Roofing Installer – Rolled Roof">@Localizer["Roofing Installer – Rolled Roof"]</option>
                                    <option value="Roofing Installers – Asphalt">@Localizer["Roofing Installers – Asphalt"]</option>
                                    <option value="Septic Tank Companies">@Localizer["Septic Tank Companies"]</option>
                                    <option value="Shower Door Companies">@Localizer["Shower Door Companies"]</option>
                                    <option value="Shower Door Installers">@Localizer["Shower Door Installers"]</option>
                                    <option value="Siding Company">@Localizer["Siding Company"]</option>
                                    <option value="Siding Installers">@Localizer["Siding Installers"]</option>
                                    <option value="Structural Engineering Companies">@Localizer["Structural Engineering Companies"]</option>
                                    <option value="Swimming Pool Companies">@Localizer["Swimming Pool Companies"]</option>
                                    <option value="Tankless Water Heaters">@Localizer["Tankless Water Heaters"]</option>
                                    <option value="Wallpaper Companies">@Localizer["Wallpaper Companies"]</option>
                                    <option value="Window Blinds/Shades">@Localizer["Window Blinds/Shades"]</option>
                                    <option value="Window Companies">@Localizer["Window Companies"]</option>
                                    <option value="Window Installers">@Localizer["Window Installers"]</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-4  ">
                            <div class=" rgstr-input-form-box">
                                <label for="YearsInBusiness"> @Localizer["How many years have you been in business?"]</label>
                                <input type="number" name="YearsInBusiness" placeholder="@Localizer["Enter business years..."]" class="form-control" />
                                <span asp-validation-for="YearsInBusiness" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-4  ">
                            <div class=" rgstr-input-form-box">
                                <label for="IsCompanyWebsite">@Localizer["Do you have a company website?"]</label>
                                <div class="d-flex justify-content-between w-50 question-text-radio-btn">
                                    <div class="custom-radio ">
                                        <input name="IsCompanyWebsite" id="credit1" class="custom-control-input" type="radio" value="true" />
                                        <label class="custom-control-label" for="credit1">@Localizer["Yes"] </label>
                                        <span asp-for="IsCompanyWebsite" class="text-danger"></span>
                                    </div>
                                    <div class="custom-radio">
                                        <input name="IsCompanyWebsite" id="credit2" class="custom-control-input" type="radio" value="false" />
                                        <label class="custom-control-label" for="credit2">@Localizer["No"]</label>
                                        <span asp-for="IsCompanyWebsite" class="text-danger"></span>
                                    </div>
                                </div>

                                <span name="IsCompanyWebsite1" class="text-danger " data-valmsg-for="IsCompanyWebsite"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-4  " id="web3" style="display:none">
                            <div class=" rgstr-input-form-box">
                                <label for="CompanyWebsiteURL">@Localizer["Website"]</label>
                                <div class="input-group mb-3">


                                    <input type="text" name="CompanyWebsiteURL" aria-describedby="basic-addon3" placeholder="example.com" class="form-control" />
                                </div>
                                <span asp-validation-for="CompanyWebsiteURL" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group col-md-6 col-lg-4  ">
                            <div class=" rgstr-input-form-box">
                                <label for="IsFacebookPage">@Localizer["Do you have Facebook page?"]</label>
                                <div class="d-flex justify-content-between w-50 question-text-radio-btn">
                                    <div class="custom-radio ">
                                        <input name="IsFacebookPage" id="credit3" class="custom-control-input" type="radio" value="true" />
                                        <label class="custom-control-label" for="credit3">@Localizer["Yes"] </label>
                                        <span asp-for="IsFacebookPage" class="text-danger"></span>
                                    </div>
                                    <div class="custom-radio">
                                        <input name="IsFacebookPage" id="credit4" class="custom-control-input" type="radio" value="false" />
                                        <label class="custom-control-label" for="credit4">@Localizer["No"]</label>
                                        <span asp-for="IsFacebookPage" class="text-danger"></span>
                                    </div>
                                </div>

                                <span asp-validation-for="CompanyWebsiteURL" class="text-danger"></span>
                            </div>
                        </div>







                        <div class="form-group col-md-6 col-lg-4  ">
                            <div class=" rgstr-input-form-box">
                                <label for="NumberOfEmployees">@Localizer["How many employees do you have?"]</label>
                                <input type="number" name="NumberOfEmployees" placeholder="Enter number of employees" class="form-control" />
                                <span asp-validation-for="NumberOfEmployees" class="text-danger"></span>
                            </div>
                        </div>

















                        <div class="form-group col-md-6 col-lg-4  ">
                            <div class=" rgstr-input-form-box">
                                <label for="IsBusinessOrTradeLicense">@Localizer["Do you have a business or trade license(s)?"]</label>
                                <div class="d-flex justify-content-between w-50 question-text-radio-btn">
                                    <div class="custom-radio ">
                                        <input name="IsBusinessOrTradeLicense" id="credit13" class="custom-control-input" type="radio" value="true" />
                                        <label class="custom-control-label" for="credit13">@Localizer["Yes"] </label>
                                        <span asp-for="IsBusinessOrTradeLicense" class="text-danger"></span>
                                    </div>
                                    <div class="custom-radio">
                                        <input name="IsBusinessOrTradeLicense" id="credit14" class="custom-control-input" type="radio" value="false" />
                                        <label class="custom-control-label" for="credit14">No</label>
                                        <span asp-for="IsBusinessOrTradeLicense" class="text-danger"></span>
                                    </div>
                                </div>

                                <span name="IsBusinessOrTradeLicense1" class="text-danger field-validation-valid" data-valmsg-for="IsBusinessOrTradeLicense"></span>
                            </div>
                        </div>






                        <div class="form-group col-md-6 col-lg-4  ">
                            <div class=" rgstr-input-form-box">
                                <label for="IsLiabilityInsurance">@Localizer["Do you have Liability Insurance?"]</label>
                                <div class="d-flex justify-content-between w-50 question-text-radio-btn">
                                    <div class="custom-radio ">
                                        <input name="IsLiabilityInsurance" id="credit15" class="custom-control-input" type="radio" value="true" />
                                        <label class="custom-control-label" for="credit15">@Localizer["Yes"] </label>
                                        <span asp-for="IsLiabilityInsurance" class="text-danger"></span>
                                    </div>
                                    <div class="custom-radio">
                                        <input name="IsLiabilityInsurance" id="credit16" class="custom-control-input" type="radio" value="false" />
                                        <label class="custom-control-label" for="credit16">No</label>
                                        <span asp-for="IsLiabilityInsurance" class="text-danger"></span>
                                    </div>
                                </div>

                                <span name="IsLiabilityInsurance1" class="text-danger field-validation-valid" data-valmsg-for="IsLiabilityInsurance"></span>
                            </div>
                        </div>






                        <div class="form-group col-md-6 col-lg-4  ">
                            <div class=" rgstr-input-form-box">
                                <label for="IsWorkmanCompensationInsurance">@Localizer["Do you have Workman’s Compensation Insurance?"]</label>
                                <div class="d-flex justify-content-between w-50 question-text-radio-btn">
                                    <div class="custom-radio ">
                                        <input name="IsWorkmanCompensationInsurance" id="credit17" class="custom-control-input" type="radio" value="true" />
                                        <label class="custom-control-label" for="credit17">@Localizer["Yes"] </label>
                                        <span asp-for="IsWorkmanCompensationInsurance" class="text-danger"></span>
                                    </div>
                                    <div class="custom-radio">
                                        <input name="IsWorkmanCompensationInsurance" id="credit18" class="custom-control-input" type="radio" value="false" />
                                        <label class="custom-control-label" for="credit18">No</label>
                                        <span asp-for="IsWorkmanCompensationInsurance" class="text-danger"></span>
                                    </div>
                                </div>

                                <span name="IsWorkmanCompensationInsurance1" class="text-danger field-validation-valid" data-valmsg-for="IsWorkmanCompensationInsurance"></span>
                            </div>
                        </div>






















                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn cstm-green-btn">@Localizer["Next"] <i class="fa fa-long-arrow-right"></i></button>
                        </div>



                    </div>



                </form>
            </div>
        </div>
    </div>
</div>


