@model KopkeHome_ModelLayer.ViewModels.DashboardViewModels.ContractorProfileDetailsViewModel
@{
    Layout = "~/Views/Shared/_DashboardInternal.cshtml";
}


   <div  class="dashboard-main-container">
        

        <div class="dashboard-top-heading dashboard-top-heading-cstm ">
            <h3 class="green-clr mb-5">Contractor Details</h3>
            <div>
             <p style="cursor:pointer" class="text-white m-0"><a style="cursor:pointer" onclick="window.history.go(-1); return false;"  class="text-white"><i class="fa fa-long-arrow-left forgot-back-arrow" aria-hidden="true"></i> Go back</a></p>
             </div>
        </div>


    @if (Model != null)
    {




        <div class="contractor-detail-outerbox">
            <div class="row">
                <div class="col-lg-6 col-md-12  contractor-info-outer-box">
                    <div class="contractor-info-box">

                        <div class="cont-detail-inner-heading">

                            <h3 class="orange-clr">Basic Information</h3>
                        </div>
                        @if (Model.User != null)
                        {
                            <div class="form-contractor-information">
                                <div class="form-group row">
                                 <div class="col-sm-5 ">
                                    <label class="control-label">Contractor Name :</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.FirstName @Model.User.LastName</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">Email Address :</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.Email </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">State Name :</label>
                                </div>
                                 <div class="col-sm-7">
                                    <span>@Model.User.State </span>
                                 </div>
                            </div>
                              <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label">City Name :</label>
                                 </div>
                                 <div class="col-sm-7">
                                    <span>@Model.User.City</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">Zip Code :</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.ZipCode</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">Mobile Number :</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.PhoneNumber</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">Mobile Number (Office) :</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.PhoneNumberOffice</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">Account Type :</label>
                                </div>
                                <div class="col-sm-7">
                                    @{
                                        
                                        if(Model.User.RoleId==1)
                                            {
                                                 <span>Contractor </span>
                                           
                                        }
                                        else if(Model.User.RoleId==2)
                                        {
                                             <span>Sub-Contractor </span>
                                        }
                                         else if(Model.User.RoleId==3)
                                        {
                                             <span> Independent Contractor </span>
                                        }
                                         else if(Model.User.RoleId==4)
                                        {
                                             <span>Home Owner</span>
                                        }
                                        
                                       
                                    
                                    }
                                </div>
                            </div>
                             
                        </div>
                }
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 contractor-payment-outer-box">
                <div class="contractor-payment-info">
                        <div class="cont-detail-inner-heading">
                            <h3 class="orange-clr">Payment Information</h3>
                        </div>
                        @if(Model.BusinessProfileContractor !=null || Model.SubContractorBusinessProfile !=null)
                        {
                            if(Model.BusinessProfileContractor !=null)
                            {
                          <div class="form-contractor-payment">
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">Cash:</label>
                                </div>
                                <div class="col-sm-7">
                                    @{
                                                if (Model.BusinessProfileContractor.IsCash==true)
                                                { 
                                                    <span>Yes</span>
                                                }
                                                else
                                                {
                                                    <span>No</span>
                                                }
                                               
                                    }
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">Credit Cards:</label>
                                </div>
                                <div class="col-sm-7">
                                                @if (Model.BusinessProfileContractor.Visa==1)
                                                { 
                                                 <span class="mr-2">Visa</span>
                                                }
                                                @if (Model.BusinessProfileContractor.AmEx==1)
                                                { 
                                                 <span class="mr-2">AmEx</span>
                                                }
                                                @if (Model.BusinessProfileContractor.MC==1)
                                                { 
                                                 <span class="mr-2">MC</span>
                                                }

                                   
                                </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">Personal Cheque?</label>
                                </div>
                                 <div class="col-sm-7">
                                     @if (Model.BusinessProfileContractor.PersonalChecks==true)
                                          { 
                                                <span>Yes</span>
                                            }
                                            else
                                            {
                                                 <span>No</span>
                                            }
                                        </div>
                            </div>
                              <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label">Payment Apps?</label>
                                 </div>
                                 <div class="col-sm-7">
                                     @if (Model.BusinessProfileContractor.IsPaymentApps==true)
                                          { 
                                                <span>Yes</span>
                                            }
                                            else
                                            {
                                                 <span>No</span>
                                            }
                                </div>
                            </div>
                            @if(Model.BusinessProfileContractor.IsPaymentApps==true)
                                    {
                                        
                                   
                                    <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">Which Apps?</label>
                                </div>
                                <div class="col-sm-7">
                                         @if(Model.BusinessProfileContractor.WhichPaymentApps !=null)
                                          { 
                                               <span>@Model.BusinessProfileContractor.WhichPaymentApps</span>
                                          }
                                          else
                                          {
                                                 <span></span>
                                          }
                                   
                                </div>
                            </div>
                            }
                                </div>
                            }
                            else
                            {




                                 <div class="form-contractor-payment">
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">Cash:</label>
                                </div>
                                <div class="col-sm-7">
                                    @{
                                                if (Model.SubContractorBusinessProfile.IsCash==true)
                                                { 
                                                    <span>Yes</span>
                                                }
                                                else
                                                {
                                                    <span>No</span>
                                                }
                                               
                                    }
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">Credit Cards:</label>
                                </div>
                                <div class="col-sm-7">
                                                @if (Model.SubContractorBusinessProfile.Visa==1)
                                                { 
                                                 <span class="mr-2">Visa</span>
                                                }
                                                @if (Model.SubContractorBusinessProfile.AmEx==1)
                                                { 
                                                 <span class="mr-2">AmEx</span>
                                                }
                                                @if (Model.SubContractorBusinessProfile.MC==1)
                                                { 
                                                 <span class="mr-2">MC</span>
                                                }

                                   
                                </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">Personal Checks ?</label>
                                </div>
                                 <div class="col-sm-7">
                                     @if (Model.SubContractorBusinessProfile.PersonalChecks==true)
                                          { 
                                                <span>Yes</span>
                                            }
                                            else
                                            {
                                                 <span>No</span>
                                            }
                                        </div>
                            </div>
                              <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label">Payment Apps ?</label>
                                 </div>
                                 <div class="col-sm-7">
                                     @if (Model.SubContractorBusinessProfile.IsPaymentApps==true)
                                          { 
                                                <span>Yes</span>
                                            }
                                            else
                                            {
                                                 <span>No</span>
                                            }
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">Which Payment App ?</label>
                                </div>
                                <div class="col-sm-7">
                                         @if(Model.SubContractorBusinessProfile.WhichPaymentApps !=null)
                                          { 
                                               <span>@Model.SubContractorBusinessProfile.WhichPaymentApps</span>
                                          }
                                          else
                                          {
                                                 <span></span>
                                          }
                                   
                                </div>
                            </div>
                           
                                </div>

                            }
                        }

                        
                
                    </div>
                    </div>

                    </div>

                    <div class="row">

                        
                <div class="col-lg-12 col-md-12 contractor-business-info-outer-box">
                  <div class="contractor-business-info-box">
                        <div class="cont-detail-inner-heading">
                        <h3 class="orange-clr">Business Information</h3>
                        </div>
                        @if(Model.BusinessProfileContractor !=null)
                        { 

                    <div class="form-contractor-business-info">
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">1. Business Name:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.BusinessName</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">2. Business Address:</label>
                                 </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.BusinessAddress</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">3. Business URL:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.BusinessProfileContractor.CompanyWebsiteURL</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">4. Office Number:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.PhoneNumberOffice</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">5. Facebook Page Name:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.BusinessProfileContractor.FacebookPageURL</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">6. Years in Business:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.BusinessProfileContractor.YearsInBusiness</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">7. Number of Employees:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.BusinessProfileContractor.NumberOfEmployees</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">8. Business Description:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.BusinessProfileContractor.BusinessDescription</span>
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">9. Do you have a commercial location where Contractors can meet with you?</label>
                                </div>
                                <div class="col-sm-7">
                                   @if(Model.BusinessProfileContractor.CommercialLocation==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">10. How many job site crews do you have?</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.BusinessProfileContractor.JobSiteCrews</span>
                                 </div>
                            </div>
                            <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">11. Do you have someone to answer the phone during normal business hours?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.BusinessProfileContractor.IsPhoneCallSupport==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                             <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">12. What are your normal business hours?</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.BusinessProfileContractor.NormalBusinessHours</span>
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">13. Do you have 24 hour phone answering?</label>
                                </div>
                                <div class="col-sm-7">
                                     @if(Model.BusinessProfileContractor.Is24HoursPhoneAnswering==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                        <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">14. Do you offer emergency services?</label>
                                </div>
                                <div class="col-sm-7">
                                        @if(Model.BusinessProfileContractor.IsOfferEmergencyServices==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else
                                        {
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">15. Do you have a business or trade license(s)?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.BusinessProfileContractor.IsBusinessOrTradeLicense==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">16. Do you have Liability Insurance?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.BusinessProfileContractor.IsLiabilityInsurance==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">17. Do you have Workman’s Compensation Insurance?</label>
                                </div>
                                <div class="col-sm-7">
                                     @if(Model.BusinessProfileContractor.IsWorkmanCompensationInsurance==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">18. Do you give “Free Estimates”?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.BusinessProfileContractor.IsEstimateCharge==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                            <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">19. What do you charge for an estimate?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if (!string.IsNullOrEmpty(Model.BusinessProfileContractor.EstimateCharge))
                                        {
                                            <span>$@Model.BusinessProfileContractor.EstimateCharge</span>
                                        }
                                        else
                                        {
                                            <span>Gives Free Estimates.</span>
                                        }
                                    </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">Do you offer design services?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.BusinessProfileContractor.IsDesignServices==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>

                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">20. What do you charge for design services?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if (!string.IsNullOrEmpty(Model.BusinessProfileContractor.DesignServices))
                                        {
                                            <span>$@Model.BusinessProfileContractor.DesignServices</span>
                                        }
                                        else
                                        {
                                            <span>Doesn't offer design services.</span>
                                        }
                                    
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">21. Do you want to be contacted directly by Homeowners?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.BusinessProfileContractor.IsContactedByHomeowners==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                             <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">22. Do you want to be contacted directly by Other Contractors?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.BusinessProfileContractor.IsContactedBySubcontractors==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>

                     </div>

                     }
                     else if(Model.SubContractorBusinessProfile!=null)
                     {


                          <div class="form-contractor-business-info">
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">1. Business Name:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.BusinessName</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">2. Business Address:</label>
                                 </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.BusinessAddress</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">3. Business URL:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.SubContractorBusinessProfile.CompanyWebsiteURL</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">4. Office Number:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.User.PhoneNumberOffice</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">5. Facebook Page Name:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.SubContractorBusinessProfile.FacebookPageURL</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">6. Years in Business:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.SubContractorBusinessProfile.YearsInBusiness</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label">7. Number of Employees:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.SubContractorBusinessProfile.NumberOfEmployees</span>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">8. Business Description:</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.SubContractorBusinessProfile.BusinessDescription</span>
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">9. Do you have a commercial location where Contractors can meet with you ?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.SubContractorBusinessProfile.CommercialLocationContractor==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                        
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">10. How many job site crews do you have ?</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.SubContractorBusinessProfile.JobSiteCrews</span>
                                 </div>
                            </div>
                            <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">11. Do you have someone to answer the phone during normal business hours ?</label>
                                </div>
                                <div class="col-sm-7">
                                   @if(Model.SubContractorBusinessProfile.IsPhoneCallSupport==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                             <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">12. What are your normal business hours ?</label>
                                </div>
                                <div class="col-sm-7">
                                    <span>@Model.SubContractorBusinessProfile.NormalBusinessHours</span>
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">13. Do you have 24 hour phone answering ?</label>
                                </div>
                                <div class="col-sm-7">
                                   @if(Model.SubContractorBusinessProfile.Is24HoursPhoneAnswering==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                        <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">14. Do you offer emergency services ?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.SubContractorBusinessProfile.IsOfferEmergencyServices==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">15. Do you have a business or trade license(s) ?</label>
                                </div>
                                <div class="col-sm-7">
                                      @if(Model.SubContractorBusinessProfile.IsBusinessOrTradeLicense==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">16. Do you have Liability Insurance?</label>
                                </div>
                                <div class="col-sm-7">
                                     @if(Model.SubContractorBusinessProfile.IsLiabilityInsurance==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">17. Do you have Workman’s Compensation Insurance?</label>
                                </div>
                                <div class="col-sm-7">
                                     @if(Model.SubContractorBusinessProfile.IsWorkmanCompensationInsurance==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">18. Do you give “Free Estimates”?</label>
                                </div>
                                <div class="col-sm-7">
                                     @if(Model.SubContractorBusinessProfile.IsEstimateCharge==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                            <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">19. What do you charge for an estimate?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(!string.IsNullOrEmpty(Model.SubContractorBusinessProfile.EstimateCharge))
                                        {
                                            <span>$@Model.SubContractorBusinessProfile.EstimateCharge</span>
                                        }
                                        else
                                        {
                                            <span>Doesn't provide free estimate.</span>
                                        }

                                 </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">20. Do you offer design services?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(Model.SubContractorBusinessProfile.IsDesignServices==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else{
                                            <span>No</span>

                                        }
                                 </div>
                            </div>

                             <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">21. What do you charge for design services?</label>
                                </div>
                                <div class="col-sm-7">
                                    @if(!string.IsNullOrEmpty(Model.SubContractorBusinessProfile.DesignServices))
                                        {
                                            <span>$@Model.SubContractorBusinessProfile.DesignServices</span>
                                        }
                                        else
                                        {
                                            <span>Doesn't offer design services.</span>
                                        }
                                    </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-5">
                                    <label class="control-label ">22. Do you want to be contacted directly by Homeowners?</label>
                                </div>
                                <div class="col-sm-7">
                                   @if(Model.SubContractorBusinessProfile.IsContactedByHomeowners==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else
                                        {
                                            <span>No</span>

                                        }
                                 </div>
                            </div>
                             <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="control-label ">23. Do you want to be contacted directly by Other Contractors?</label>
                                </div>
                                <div class="col-sm-7">
                                        @if(Model.SubContractorBusinessProfile.IsContactedByContractors==true)
                                        {
                                           <span>Yes</span> 
                                        }
                                        else
                                        {
                                            <span>No</span>

                                        }
                                 </div>
                            </div>

                     </div>



                     }



                  </div>
                </div>                  
            </div>
           


            <div class="row">
                <div class="col-lg-6 col-md-12 contractor-service-outer-box">
                    <div class="contractor-service-box">
                        <div class="cont-detail-inner-heading">
                            <h3 class="orange-clr">Service Information</h3>
                        </div>
                        <div class="form-contractor-service">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="control-label">Service Zip Codes</label>
                                </div>
                                <div class="col-sm-12 contractor-service-zipcodes">
                                   @if(Model.Zipcodes!=null)
                                    {
                                        foreach(var zips in Model.Zipcodes.OrderBy(i=>i.Zipcode))
                                        {
                                            <span>@zips.Zipcode</span>

                                        }
                                    }
                                    else
                                    {
                                        <span>No Zip codes found.</span>
                                    }

                                </div>
                            </div>
                            <div class="form-group row">
                                 <div class="col-sm-12">
                                     <label class="control-label service-categories-label">Service Categories</label>
                                 </div>
                                  <div class="col-sm-12 contractor-service-categories-tab">
                                @if(Model.Categories!=null)
                                    {
                                        foreach(var cats in Model.Categories.OrderBy(i=>i.Name))
                                        {
                                            <span>@cats.Name</span>

                                        }
                                    }
                                    else
                                    {
                                         <span>No categories found.</span>
                                    }
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 contractor-document-outer-box">
                    <div class="contractor-document-box">
                        <div class="cont-detail-inner-heading">
                            <h3 class="orange-clr">Documents</h3>
                        </div>
                        @if(Model.BusinessProfileContractor!=null)
                        {



                            <div class="form-contractor-document">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="control-label">Business or Trade License</label>
                                    </div>
                                    <div class="col-sm-12 pdf-view-section">
                                        @{
                                            if (!string.IsNullOrEmpty(Model.BusinessProfileContractor.BusinessOrTradeLicenseFiles))
                                            {
                                                List<string> docs = Model.BusinessProfileContractor.BusinessOrTradeLicenseFiles.Replace("\r\n","").Split(',').Reverse().ToList();
                                                foreach (var dox in docs)
                                                {
                                                   if (!string.IsNullOrEmpty(dox))
                                                    {
                                                        FileInfo fi = new FileInfo(dox);
                                                        string extn = fi.Extension;  
                                                         if(extn==".png"||extn==".jpg"||extn=="jpeg")
                                                        { 
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/IconImage.png"/><p>File</p></a></span>

                                                        }
                                                       else
                                                        {
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/FileIcon.png"/><p>File</p></a></span>

                                                        }
                                                        
                                                    }
                                                }

                                            }
                                            else
                                            {
                                                
                                            <span><a><p>No Documents Found.</p></a></span>

                                            }

                                            
                                        }
                                    
                                </div>
                            </div>
                        
                             <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="control-label liability-insurence-label">Liability Insurance File</label>
                                </div>
                                <div class="col-sm-12 liab-pdf-view-section pdf-view-section">
                                    @{
                                            if (!string.IsNullOrEmpty( Model.BusinessProfileContractor.LiabilityInsuranceFile))
                                            {
                                                List<string> docs = Model.BusinessProfileContractor.LiabilityInsuranceFile.Replace("\r\n","").Split(',').Reverse().ToList();
                                            foreach (var dox in docs)
                                            {
                                                 if (!string.IsNullOrEmpty(dox))
                                                    {
                                                        FileInfo fi = new FileInfo(dox);
                                                        string extn = fi.Extension;  
                                                         if(extn==".png"||extn==".jpg"||extn=="jpeg")
                                                        { 
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/IconImage.png"/><p>File</p></a></span>

                                                        }
                                                       else
                                                        {
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/FileIcon.png"/><p>File</p></a></span>

                                                        }
                                                        
                                                    }
                                                    
                                                }

                                            }
                                            else
                                            {
<span><a  ><p>No Documents Found.</p></a></span>

                                            }

                                            
                                        }
                                </div>
                            </div>

                             <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="control-label compensation-insurence-label">Workman’s Compensation Insurance File</label>
                                </div>
                                <div class="col-sm-12 comp-pdf-view-section pdf-view-section">
                                        @{
                                            if (!string.IsNullOrEmpty(Model.BusinessProfileContractor.WorkmanCompensationInsuranceFile))
                                            {
                                                List<string> docs = Model.BusinessProfileContractor.WorkmanCompensationInsuranceFile.Replace("\r\n","").Split(',').Reverse().ToList();
                                                foreach (var dox in docs)
                                                {
                                                    if (!string.IsNullOrEmpty(dox))
                                                    {
                                                        FileInfo fi = new FileInfo(dox);
                                                        string extn = fi.Extension;  
                                                         if(extn==".png"||extn==".jpg"||extn=="jpeg")
                                                        { 
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/IconImage.png"/><p>File</p></a></span>

                                                        }
                                                       else
                                                        {
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/FileIcon.png"/><p>File</p></a></span>

                                                        }
                                                        
                                                    }
                                                    
                                                }
                                                

                                            }
                                            else
                                            {
<span><a  ><p>No Documents Found.</p></a></span>

                                            }

                                            
                                        }                                    
                                </div>
                            </div>
                        </div>

                        }
                        else if(Model.SubContractorBusinessProfile!=null)
                        {


                        
                    <div class="form-contractor-document">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="control-label">Business or Trade License</label>
                                </div>
                                <div class="col-sm-12 pdf-view-section">
                                        @{
                                            if (!string.IsNullOrEmpty( Model.SubContractorBusinessProfile.BusinessOrTradeLicenseFiles ))
                                            {
                                                List<string> docs = Model.SubContractorBusinessProfile.BusinessOrTradeLicenseFiles.Replace("\r\n","").Split(',').Reverse().ToList();
                                            foreach (var dox in docs)
                                            {
                                               if (!string.IsNullOrEmpty(dox))
                                                    {
                                                        FileInfo fi = new FileInfo(dox);
                                                        string extn = fi.Extension;  
                                                         if(extn==".png"||extn==".jpg"||extn=="jpeg")
                                                        { 
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/IconImage.png"/><p>File</p></a></span>

                                                        }
                                                       else
                                                        {
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/FileIcon.png"/><p>File</p></a></span>

                                                        }
                                                        
                                                    }
                                                    
                                                }

                                            }
                                            else
                                            {
<span><a  ><p>No Documents Found.</p></a></span>

                                            }

                                            
                                        }                                       
                                        </div>
                            </div>
                        
                             <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="control-label liability-insurence-label">Liability Insurance File</label>
                                </div>
                                <div class="col-sm-12 liab-pdf-view-section pdf-view-section">
 @{
                                            if (!string.IsNullOrEmpty( Model.SubContractorBusinessProfile.LiabilityInsuranceFile))
                                            {
                                                List<string> docs = Model.SubContractorBusinessProfile.LiabilityInsuranceFile.Replace("\r\n","").Split(',').Reverse().ToList();
                                            foreach (var dox in docs)
                                            {
                                                if (!string.IsNullOrEmpty(dox))
                                                    {
                                                        FileInfo fi = new FileInfo(dox);
                                                        string extn = fi.Extension;  
                                                         if(extn==".png"||extn==".jpg"||extn=="jpeg")
                                                        { 
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/IconImage.png"/><p>File</p></a></span>

                                                        }
                                                       else
                                                        {
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/FileIcon.png"/><p>File</p></a></span>

                                                        }
                                                        
                                                    }
                                                    
                                                }

                                            }
                                            else
                                            {
<span><a  ><p>No Documents Found.</p></a></span>

                                            }

                                            
                                        } 

                                </div>
                            </div>

                             <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="control-label compensation-insurence-label">Workman’s Compensation Insurance File</label>
                                </div>
                                <div class="col-sm-12 comp-pdf-view-section pdf-view-section">
                                        @{
                                            if (!string.IsNullOrEmpty( Model.SubContractorBusinessProfile.WorkmanCompensationInsuranceFile))
                                            {
                                                List<string> docs = Model.SubContractorBusinessProfile.WorkmanCompensationInsuranceFile.Replace("\r\n","").Split(',').Reverse().ToList();
                                                foreach (var dox in docs)
                                                {
                                                    if (!string.IsNullOrEmpty(dox))
                                                    {
                                                        FileInfo fi = new FileInfo(dox);
                                                        string extn = fi.Extension;
                                                        if (extn == ".png" || extn == ".jpg" || extn == "jpeg")
                                                        {
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/IconImage.png"/><p>File</p></a></span>

                                                        }
                                                        else
                                                        {
                                                            <span><a href="../uploads/@dox" target="_blank" ><img src="../images/FileIcon.png"/><p>File</p></a></span>

                                                        }

                                                    }

                                                }


                                            }
                                            else
                                            {
<span><a  ><p>No Documents Found.</p></a></span>

                                            }

                                            
                                        } 
                                </div>
                            </div>
                        </div>

                        }
                    </div>
                </div>                  
             </div>




           @*  <div class="row">
                <div class="col-md-12 contractor-gallery-outer-box">
                    <div class="contractor-gallery-box">
                        <div class="cont-detail-inner-heading">
                            <h3 class="orange-clr">Work Gallery</h3>
                           
                        </div>
                        <div class="form-contractor-gallery">
                            <div class="form-group row">
                               @{
                                            if (!string.IsNullOrEmpty(Model.WorkGallery))
                                            {
                                                List<string> docs = Model.WorkGallery.Replace("\r\n","").Split(',').Reverse().ToList();
                                            foreach (var dox in docs)
                                            {
                                                if (!string.IsNullOrEmpty(dox))
                                                    {
                                                         <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card">
                                        <img class="card-img-top" src="../uploads/@dox" alt="service">
                                        <div class="card-body">
                                      
                                          <span class="card-text">@dox</span>
                                         
                                         
                                        </div>
                                      </div>
                                                </div>

                                            }
                                        }
                                    }
                                    else
                                    {
                                        <span class="text-white">No Images found.</span>
                                    }
                                }
                                
                                
                                
                               
                              
                              
                               
                                </div>
                               
                               
                               
                            </div>
                                                 
                        </div>
                
                    </div>
                </div>*@
                               
            </div>
}
        </div>