@model KopkeHome_ModelLayer.ViewModels.DashboardViewModels.ChangePasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Change Password"].Value;
    Layout = "~/Views/Shared/_DashboardInternal.cshtml";
}


<div class="modal p-0 fade email-sent-success-modal" data-keyboard="false" data-backdrop="static" id="subcontactorModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">


            <div class="modal-body">
                <div class="text-center email-sent-success-main-heading">
                    <img width="175px" src="~/images/success-gif1.gif" />
                    @*<img width="175px" src="~/images/success-gif.gif" />*@

                    <h3 class="text-white">@Localizer["Password changed!"]</h3>
                    <p>@Localizer["Your password has been changed successfully."]</p>
                </div>

                <div class="verify-email text-center mb-2">
                    <a class="btn green-email-verify-btn" href="@Url.Action("index", "dashboard")">
                        OK
                    </a>
                </div>



            </div>

        </div>
    </div>
</div>

<div class="registration-container-reset-pwd">







    <div class="registration-container-form">


        <div class="main-reset-pwd-page">
            <div class="kopkehome-login-logo-heading text-center">
                <img src="../images/Kopke-brand-logo.png" width="110" />
            </div>
            <div class="reset-pwd-page-content">
                <form id="ChangePassword" data-ajax-complete="succesmodal" method="post" { enctype="multipart/form-data" } onsubmit="return ChangePassword(this);">

                    <input type="hidden" name="Email" value="@Model?.LoggedInUser.Email" />
                    <div class="forgot-pwd-main-headin">
                        <h3 class="green-clr">@Localizer["Change Password"]</h3>
                        <p class="text-white">@Localizer["Your new password must be different from previous used passwords."]</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" rgstr-input-form-box">
                                <label class="required-labl" for="OldPassword">@Localizer["Current Password"]</label>
                                <input maxLength="20" type="password" asp-for="OldPassword" placeholder="@Localizer["Enter Current Password"]" name="OldPassword" class="form-control input-sm">
                                <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                <span id="spnMessage2" style="position:inherit" asp-validation-for="OldPassword" class="text-danger"></span>


                                @*  <span class="text-danger"></span>  *@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class=" rgstr-input-form-box">
                                <label class="required-labl" for="NewPassword">@Localizer["New Password"]</label>
                                <input maxLength="20" type="password" asp-for="NewPassword" placeholder="@Localizer["Enter New Password"]" name="NewPassword" type="password" class="form-control" />
                                <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                <span style="position:inherit" asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class=" rgstr-input-form-box">
                                <label class="required-labl" for="ConfirmNewPassword">@Localizer["Re-enter New Password"]</label>
                                <input type="password" asp-for="ConfirmNewPassword" name="ConfirmNewPassword" placeholder="@Localizer["Enter New Password"]" class="form-control" />
                                <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                <span style="position:inherit" id="spnMessage" asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 text-center login-cstm-button">
                            <button type="submit" class="btn payment-btn cstm-green-btn w-100">@Localizer["Change Password"]</button>
                        </div>
                    </div>
                </form>
                <div class=" col-md-12 member-login-link text-center d-flex align-items-center justify-content-center">
                    <p class="text-white m-0"><i class="fa fa-long-arrow-left forgot-back-arrow" aria-hidden="true"></i> <a style="cursor:pointer" onclick="window.history.go(-1); return false;" class="green-clr green-clr-link">@Localizer["Go back"]</a></p>
                </div>

            </div>
        </div>
    </div>
</div>


<style>
    .fa-eye:before {
    content: "\f06e";
    color: #ADD136;
}
</style>

<script src="~/js/custom.js" asp-append-version="true"></script>