@model KopkeHome_ModelLayer.ViewModels.MembershipPlanFromStrip
@inject IViewLocalizer Localizer


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">


    @*<link rel="stylesheet" href="~/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/master.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
</head>
<body>

    <div class="logo-loader " ID="CSTMLOADER" style="display:none">
        <div class="logo-loader-pulse pulse" id="Idloader"><img src="~/images/Kopke-brand-logo.png" /></div>
    </div>

    <div class="registration-container black-bg">



        <div class="registration-container-branding d-flex justify-content-between align-items-center">
            <div class="kopkehome-logo">
                <a href="@Url.Action("SignIn","user")">
                    <img src="~/images/Kopke-brand-logo.png" width="140" />
                </a>
            </div>

            @*<div class="rgstr-box-heading text-center">
                <h2 class="orange-clr">Home Owner Membership Benefits</h2>
                <p class="text-white m-0">Please choose the best membership benefits for you.</p>
                </div>*@

            <div class="">
                @{
                    if (Model.LoggedInUser != null)
                    {
                        <a class="nav-link text-dark dropdown-toggle d-flex align-items-center" href="#" id="navbardrop" data-toggle="dropdown">
                            @if (!string.IsNullOrEmpty(Model.LoggedInUser.ProfilePicture))
                            {
                                <img alt="logo" style="margin-right:11px;  class="IconBorder" src="~/Uploads/@Model.LoggedInUser.ProfilePicture" width="38" />

                                <span class="text-white">@Model.LoggedInUser.FirstName  @Model.LoggedInUser.LastName </span>
                            }
                            else
                            {
                                <img alt="logo" style="margin-right:11px;" src="~/images/DefaultProfile.png" class="IconBorder" width="38" />

                                <span class="text-white">@Model.LoggedInUser.FirstName @Model.LoggedInUser.LastName</span>
                            }

                        </a>
                    }


                }

            </div>
        </div>

        @{
            double percentsl = 0;
            var silver = Model.Plans.Where(x => x.Title.Contains("Silver") && x.RoleId == 4).FirstOrDefault();
            int PlanIdSilver = silver.Id;
            double silver_PricePerMonth = silver.PricePerMonth;
            string silver_Categories = silver.Categories;
            string silver_ZipCodes = silver.ZipCodes;
            double silver_PricePerYear = silver.PricePerYear;
            string silver_IsWeb = string.Empty;
            string silver_IsPhoneApp = string.Empty;
            var discountsl = ((silver_PricePerMonth * 4) - silver_PricePerYear);
            percentsl = (discountsl / (silver_PricePerMonth * 4)) * 100;
            if (silver.Website)
            {
                silver_IsWeb = "fa-check";
            }
            else
            {
                silver_IsWeb = "fa-times";
            }
            if (silver.PhoneApp)
            {
                silver_IsPhoneApp = "fa-check";
            }
            else
            {
                silver_IsPhoneApp = "fa-times";
            }

            double percentgl = 0;
            var Gold = Model.Plans.Where(x => x.Title.Contains("Gold") && x.RoleId == 4).FirstOrDefault();
            int PlanIdGold = Gold.Id;
            double Gold_PricePerMonth = Gold.PricePerMonth;
            string Gold_Categories = Gold.Categories;
            string Gold_ZipCodes = Gold.ZipCodes;
            double Gold_PricePerYear = Gold.PricePerYear;
            string Gold_IsWeb = string.Empty;
            string Gold_IsPhoneApp = string.Empty;
            var discountgl = ((Gold_PricePerMonth * 4) - Gold_PricePerYear);
            percentgl = (discountgl / (Gold_PricePerMonth * 4)) * 100;
            if (Gold.Website)
            {
                Gold_IsWeb = "fa-check";
            }
            else
            {
                Gold_IsWeb = "fa-times";
            }
            if (Gold.PhoneApp)
            {
                Gold_IsPhoneApp = "fa-check";
            }
            else
            {
                Gold_IsPhoneApp = "fa-times";
            }
        }

        <div class="registration-container-form">
            <div class="tab-content">

                <div class="rgstr-box-heading text-center membershipHead">
                    <h2 class="orange-clr">@Localizer["Home Owner Membership Benefits"]</h2>
                    <p class="text-white m-0">@Localizer["Please choose the best membership benefits for you."]</p>
                </div>



                <div id="Home-owner" class="contractor-business-prof-form">
                    <div class="Membership-benefits-outer-box">
                        <div class="table-responsive benefit-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="d-flex justify-content-center align-items-center">
                                            <h2>@Localizer["Membership Benefits"]</h2>
                                        </th>

                                        <th>
                                            <span class="membership-title membership-title-2">Silver</span>
                                            @*<h2>$@silver_PricePerYear/365 @Localizer["days"]</h2>*@
                                            <h2 id="showsilver365H">$@silver_PricePerYear/365 @Localizer["days"]</h2>
                                            <h2 id="showsilver90H" hidden="hidden" visibility="true">$@silver_PricePerMonth/90 @Localizer["days"]</h2>
                                        </th>
                                        <th>
                                            <span class="membership-title membership-title-3">Gold</span>
                                            @* <h2>$@Gold_PricePerYear/365 @Localizer["days"]</h2>*@
                                            <h2 id="showgold365H">$@Gold_PricePerYear/365 @Localizer["days"]</h2>
                                            <h2 id="showgold90H" hidden="hidden" visibility="true">$@Gold_PricePerMonth/90 @Localizer["days"]</h2>
                                        </th>


                                        @*
                                            <th>
                                            <span class="membership-title membership-title-4">Unlimited</span>
                                            <h2>$89.99/Year</h2>
                                            </th>*@
                                    </tr>
                                </thead>



                                <tbody>


                                    <tr>
                                        <th>@Localizer["Website"]</th>
                                        <td><i class="fa @silver_IsWeb fa-2x"></i></td>
                                        <td><i class="fa @Gold_IsWeb fa-2x"></i></td>

                                    </tr>
                                    <tr>
                                        <th>@Localizer["Mobile App"]</th>
                                        <td><i class="fa @silver_IsPhoneApp fa-2x"></i></td>
                                        <td><i class="fa @Gold_IsPhoneApp fa-2x"></i></td>


                                    </tr>

                                    <tr>
                                        <th>@Localizer["Price"] (90 @Localizer["days"])</th>


                                        @* <td><div class="question-text-radio-btn"><div class="cstm-td-radio-dsgn custom-radio"><input class="Paymentradio custom-control-input" type="radio" data-id="@PlanIdSilver" id="SilverPrice"name="SilverPrice" value="@Model.PriceMonthlySilverID"><p for="SilverPrice" class="m-0"> $@silver_PricePerMonth/Month</p></div></div> </td>
                                            <td><div class="question-text-radio-btn"><div class="cstm-td-radio-dsgn custom-radio"><input class="Paymentradio custom-control-input" type="radio" data-id="@PlanIdGold"  id="GoldPrice" name="GoldPrice" value="@Model.PriceMonthlyGoldID" ><p class="m-0"> $@Gold_PricePerMonth/Month </p></div></div></td>
                                        *@
                                        <td><p onclick="hideDatasilverH()" class="m-0 radioBox">$@silver_PricePerMonth/90 @Localizer["days"] <input class="Paymentradio" type="radio" id="SilverPrice" name="SilverPrice" data-id="@PlanIdSilver" value="@Model.PriceMonthlySilverID"></p></td>
                                        <td><p onclick="hideDatagoldH()" class="m-0 radioBox">$@Gold_PricePerMonth/90 @Localizer["days"] <input class="Paymentradio" type="radio" id="GoldPrice" name="GoldPrice" data-id="@PlanIdGold" value="@Model.PriceMonthlyGoldID"></p></td>


                                    </tr>
                                    <tr>
                                        <th>@Localizer["Price"] (365 @Localizer["days"]) </th>

                                        @*                                       <td><p class="m-0 radioBox">$@silver_PricePerYear/Year <i class="percentage">Save @String.Format("{0:0.00}", percentsl) % </i> <input class="Paymentradio" data-id="@PlanIdSilver" style="right: -2px;" type="radio" id="SilverPrice" name="SilverPrice" value="@Model.PriceYearlySilverID"></p></td>
                                            <td><p class="m-0 radioBox">$@Gold_PricePerYear/Year <i class="percentage">Save @String.Format("{0:0.00}", percentgl) % </i> <input data-id="@PlanIdGold" class="Paymentradio" style="right: -2px;" type="radio" id="GoldPrice" name="GoldPrice" value="@Model.PriceYearlyGoldID"></p></td>
                                        *@
                                        @*                                        <td><p class="m-0">$100/Year <i class="percentage">Save 10 % </i><input class="BronzePrice" type="radio" id="BronzePriceYearly" name="SilverPrice" value="2"></p></td>
                                            <td><p class="m-0">$100/Year <i class="percentage">Save 12% </i> <input type="radio" id="SilverPrice" name="GoldPrice" value=""></p></td>
                                        *@
                                        <td><p onclick="showDatasilverH()" class="m-0 radioBox"><span>$@silver_PricePerYear/365 @Localizer["days"] <i class="percentage">Save @String.Format("{0:0.00}", percentsl) % </i> </span><input class="Paymentradio" data-id="@PlanIdSilver" style="right: -2px;" type="radio" id="SilverPrice" name="SilverPrice" value="@Model.PriceYearlySilverID"></p></td>
                                        <td><p onclick="showDatagoldH()" class="m-0 radioBox"><span>$@Gold_PricePerYear/365 @Localizer["days"] <i class="percentage">Save @String.Format("{0:0.00}", percentgl) % </i></span> <input class="Paymentradio" data-id="@PlanIdGold" style="right: -2px;" type="radio" id="GoldPrice" name="GoldPrice" value="@Model.PriceYearlyGoldID"></p></td>

                                    </tr>


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <td><a href="#" onclick="SilverRadio()" class=" text-decoration-none membership-title-2">@Localizer["BUY NOW"]</a></td>
                                        <td><a href="#" onclick="GoldRadio()" class="text-decoration-none membership-title-3">@Localizer["BUY NOW"]</a></td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>





















    @*  <header>
        <h1>Wellcome to the dashboard</h1>
        <p>Category</p>
        <p>Sub Category</p>
        </header>*@

    <!-- Latest compiled and minified CSS -->
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery library -->
    <!-- Popper JS -->
    @*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>*@

    <!-- Latest compiled JavaScript -->
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>*@



    <!-- jQuery library -->
    @*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/ValidateForms.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.20/dist/sweetalert2.all.min.js"></script>
    <script>
        var urlprefix = "";
            if (window.location.href.indexOf("KopkeHome-FMRS") > -1) {
                urlprefix = '/KopkeHome-FMRS';
            }



    </script>
    <script>


            function SilverRadio()
         {
             $("#CSTMLOADER").show();
             var selectedVal = "";
        var selected = $("input[type='radio'][name='SilverPrice']:checked");
        console.log(selected.val());
         if (selected.length > 0)
         {

             selectedVal = selected.val();
              var dataId=selected.attr("data-id")
             $.ajax({
             type: 'Get',
             url: urlprefix+'/Membership/PaymentCard?priceId='+selectedVal+'&planId='+dataId,


             success: function (res)
             {

                if(res==1)
                {

                    window.location = urlprefix+"/Membership/Payment/";
                }
                else
                {$("#CSTMLOADER").hide();
                    alert("Something went wrong.");
                }


             }


                 });
         }
         else{
             $("#CSTMLOADER").hide();
            Swal.fire('Please select type of plan.(Quaterly/Annually)')
         }


         }


            function GoldRadio()
         {$("#CSTMLOADER").show();
           var selectedVal = "";
        var selected = $("input[type='radio'][name='GoldPrice']:checked");
        console.log(selected.val());
         if (selected.length > 0)
         {

             selectedVal = selected.val();

             var dataId=selected.attr("data-id")
             $.ajax({
             type: 'Get',
             url: urlprefix+'/Membership/PaymentCard?priceId='+selectedVal+'&planId='+dataId,


             success: function (res)
             {

                if(res==1)
                {

                    window.location = urlprefix+"/Membership/Payment/";
                }
                else
                {
                    $("#CSTMLOADER").hide();
                    alert("Something went wrong.");
                }


             }


                 });
         }
         else{
             $("#CSTMLOADER").hide();
             Swal.fire('Please select type of plan.(Quaterly/Annually)')
         }

         }





         
        function showDatasilverH() {
            var dataDiv = document.getElementById("showsilver90H");
            dataDiv.style.display = "none";
            var dataDiv2 = document.getElementById("showsilver365H");
            dataDiv2.style.display = "block";

        }

        function hideDatasilverH() {
            var dataDiv = document.getElementById("showsilver365H");
            dataDiv.style.display = "none";
            var dataDiv2 = document.getElementById("showsilver90H");
            dataDiv2.style.display = "block";
            dataDiv2.style.visibility = 'visible'
            $('#showsilver90H').removeAttr('hidden');
        }


        function showDatagoldH() {
            var dataDiv = document.getElementById("showgold90H");
            dataDiv.style.display = "none";
            var dataDiv2 = document.getElementById("showgold365H");
            dataDiv2.style.display = "block";

        }

        function hideDatagoldH() {
            var dataDiv = document.getElementById("showgold365H");
            dataDiv.style.display = "none";
            var dataDiv2 = document.getElementById("showgold90H");
            dataDiv2.style.display = "block";
            dataDiv2.style.visibility = 'visible'
            $('#showgold90H').removeAttr('hidden');
        }
    </script>

</body>
</html>

