@model KopkeHome_ModelLayer.ViewModels.ForgotpasswordViewModel
@inject IViewLocalizer Localizer
@{
    
    ViewData["Title"] = Localizer["Change password"].Value; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="registration-container-login">



     
  
  <div class="modal p-0 fade email-sent-success-modal"  data-keyboard="false" data-backdrop="static" id="CreateNewPasswordModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
      

        <div class="modal-body">
          <div class="text-center email-sent-success-main-heading">         
               <img width="175px" src="~/images/success-gif1.gif" />
               @*<img width="175px" src="~/images/success-gif.gif" />*@
          
              <h3 class="text-white">@Localizer["Success!"]</h3>
               <p>@Localizer["Your password successfully changed."]</p>        
          </div>
          
         <div class="verify-email text-center mb-2">
         

          <a class="btn green-email-verify-btn" href="@Url.Action("signin", "user")"> 
           OK</a>
       </div>
        
     
        
        </div>
        
      </div>
    </div>
  </div>
  










   <div class="registration-container-form">

      
    <div class="forgot-pwd-page">
            <div class="kopkehome-login-logo-heading text-center">
                <img src="../images/Kopke-brand-logo.png" width="110" />
            </div>
             <div class="forgot-pwd-page-content">
                    <form onsubmit="return CreateNewPassword(this);">
                        <input asp-for="Email" Name="Email" type="hidden" value="@Model.Email" />
                        <input asp-for="Token" Name="Token" type="hidden" value="@Model.Token" />
                      <div class="forgot-pwd-main-headin">
                            <h3 class="green-clr">@Localizer["Change Password"]</h3>
                            <p class="text-white">@Localizer["Please enter your new password"]</p>
                        </div>
                         <div class="row">
                         
                               <div class="form-group col-md-12">
                                <div class=" rgstr-input-form-box mb-1">
                                 <label class="required-labl" for="Password">@Localizer["Password"]</label>
                                    <input maxLength="20" type="password" asp-for="Password" placeholder="@Localizer["Enter New Password"]" class="form-control input-sm" />
                                    <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                    <div>
                                        <span  style="top:96px !important" asp-validation-for="Password" class="text-danger"></span>
                                    </div>  
                            </div>
                              </div>
                        
                        <div class="form-group col-md-12">
                                <div class=" rgstr-input-form-box mb-1">
                                 <label class="required-labl" asp-for="ConfirmPassword">@Localizer["Confirm Password"]</label>
                                    <input maxLength="20" type="password" asp-for="ConfirmPassword" placeholder="@Localizer["Re-Enter New Password"]" class="form-control input-sm" />
                                    <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                    <div>
                                        <span  style="top:96px !important" asp-validation-for="ConfirmPassword " class="text-danger"></span>
                                    </div>  
                            </div>
                              </div>
                          
                          
                               
                             <div class="col-md-12 text-center login-cstm-button">
                                <button type="submit" id="LatestPasswordbtn" class="btn payment-btn cstm-green-btn w-100" data-toggle="modal" data-target="#subcontactorModal">@Localizer["Change Password"]</button>
                            </div>
                
                           @* <div class=" col-md-12 member-login-link text-center d-flex align-items-center justify-content-center">
                                <p class="text-white m-0"><i class="fa fa-long-arrow-left forgot-back-arrow" aria-hidden="true"></i> Go back to <a href="User/SignIn" class="green-clr green-clr-link">Login</a></p>
                            </div>*@
                         </div>    
                 </form>

             </div>
             </div>
        </div>
</div>


